body {
  background-color: #daf8e3;
  color: #005582;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00c2c7;
  text-decoration: none;
}

a:hover {
  color: #0086ad;
  text-decoration: underline;
}

h1, h2, h3 {
  color: #0086ad;
}

nav {
  background-color: #97ebdb;
  padding: 10px;
}

nav a {
  color: #005582;
  margin-right: 15px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #00c2c7;
  color: #ffffff;
}
